<ion-header>

  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>
      Invest Dashboard
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="addTransaction()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-list>
  <ion-list-header>
    Total
    <div item-right>
      1564,82 zł 
      <ion-icon color="secondary" name="arrow-round-up"></ion-icon> 
      8%
    </div>
  </ion-list-header>
  
<ion-item (click)="showDetails(fund)" *ngFor="let fund of fundStatistics">
    {{fund.fund.name}}
    <div item-right>{{ fund.currentValue | number : '1.2-2' }} zł 
      <ion-icon color="danger" name="arrow-round-down" *ngIf="fund.currentResult < 0"></ion-icon> 
      <ion-icon color="secondary" name="arrow-round-up" *ngIf="fund.currentResult >= 0"></ion-icon>
      
      {{ fund.absCurrentResult*100 | number : '1.2-2' }} %
    </div>
  </ion-item>
</ion-list>
</ion-content>